<div class="cart-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <img style="width: 62px; margin-top: 5px;"  src="assets/All product.jpg" alt='peter'>
                <h1>All products </h1>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('electronics')">
                <img style="width: 62px; margin-top: 5px;" src="assets/electronic.jpg" alt='peter'>
                <h1>Electronics</h1>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('fashions')">
                <img style="width: 62px; margin-top: 5px;"  src="assets/fashion.jpg" alt='peter'>
                <h1>Fashion</h1>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('jewelery')">
                <img style="width: 62px; margin-top: 5px;"  src="assets/watch.jpg" alt='peter'>
                <h1>Gold watch</h1>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
        <div class="card col-md-3">
            <img src="{{item.image}}" alt="">
            <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
            <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
            <p><strong>Price:</strong> ${{item.price}}</p>
            <button class="btn btn-primary" (click)=addtoCart(item)>Add to cart</button>
        </div>
    </ng-container>
    </div>
</div>

































